
.video {
    background-image: linear-gradient(to right, rgba(233, 237, 239, 0.2), rgba(233, 237, 239, 0.9)), url(../public/img/intravenosa.jpg);
    background-position: 50%;
    background-size:cover;
    height: 450px;
}

